<!DOCTYPE html>
<html>
<head>
    <title>Saldo por cuenta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Saldo por cuenta</h1>

    {% if balances %}
        <ul>
            {% for balance in balances %}
                <li>{{ balance[0] }}: {{ balance[1] }} € 
                {% if balance[1] < 0 %}
                    <h4 style="color: red;">⚠️ Saldo negativo</h4>
                {% endif %}
                {% if balance[1] > 0 %}
                    <h4 style="color: green;">✅ Saldo positivo</h4>
                {% endif %}</li>
                
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay cuentas registradas todavía.</p>
    {% endif %}

    <br>
    <a class="button secondary" href="{{ url_for('index') }}">⬅️ Volver</a>
</div>

</body>
</html>
